<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/dashboard.css">
    <title>Dashboard</title>
  </head>
  <body>
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bookify</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Purchases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex mb-2 mb-lg-0">
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a id="profile_btn" class="dropdown-item">My Profile</a></li>
                      <li><a class="dropdown-item" href="/">SignOut</a></li>
                    </ul>
                  </li>
                
                  <li class="nav-item">
                    <p id="username" style="color:#fff" class="px-2 mb-2 nav-link"></p>
                </li>
                  <li class="nav-item">
                    <a id="profile" class=""><i class="fas fa-user-circle mb-2"></i></a>
                </li>
            </ul>
        </div>
      </nav>

      <div class="container py-4">
          <div class="main_section">
            <div class="row">
              <div class="col-md-2">
                <button type="button" class="btn btn-success btn-lg"><a id="sell_btn"><i class="fas fa-money-bill-alt"></i>&nbsp; <strong> SELL </strong></a></button>
              </div>
              <div class="col-md-10">
                <div class="input-group">
                  <div class="form-outline" id="search_cont">
                    <input name="search" type="search" id="search" class="form-control" />
                  </div>
                  <button id="search_btn" type="button" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
            <hr>
          </div>
      </div>


        <!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static"  id="aboutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Saikat Sahana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:saikatsahana91@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917001878233"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
            <li>Gourab Chatterjee<a href="mailto:gouravchatterjee2@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917074083480"><span class="badge rounded-pill bg-success">Phone</span></a></li>
            <li>Sanket Choudhury<a href="mailto:sanketchoudhury321@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+918617499871"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
          </ul>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/dashboard.js"></script>
  </body>
</html>