<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Bookify</title>
  </head>
  {% if data=="a"  %}
  <body onload="signup_success();">
  {% elif data=="b"  %}
  <body onload="signup_failure();">
  {% elif data=="c"  %}
  <body onload="login_failure();">
  {% elif data=="d"  %}
  <body onload="pass_reset();">
  {% else %}
  <body>
  {% endif %}


  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Bookify</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


    <div class="container py-2">
      <h1 id="title">Bookify - One Stop for all your educational needs</h1>
      <button type="button" class="btn btn-primary btn-lg" style="margin-right:15px;"  data-bs-toggle="modal" data-bs-target="#signUpModal">
        <strong> SignUp </strong>
      </button>
      <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#signInModal">
        <strong> Login </strong>
      </button>
    

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static"  id="signUpModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">User Signup</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            

                <form id="signup" action="/signup_check" method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label">Full Name</label>
                        <input type="text" name="uname" class="form-control" id="name" required>
                    </div>
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number (Please exclude 0 or +91 at the start)</label>
                        <input type="number" name="phone"  class="form-control" id="phone" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" name="pass" class="form-control" id="password"  aria-describedby="passHelp">
                      <div id="passHelp" style="color:red; display:none;" class="form-text">Password is not strong enough!</div>
                    </div>
                    <div class="mb-3">
                        <label for="password1" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" id="password1" aria-describedby="passHelp1">
                        <div id="passHelp1" style="color:red; display:none;" class="form-text">Passwords don't match!</div>
                    </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create Account</button>
        </form>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static"  id="signInModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">User Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          

              <form id="signIn" action="/login_check" method="post">
                  <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="email_store" required aria-describedby="emailHelp">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="pass" class="form-control" id="password" required  aria-describedby="passHelp">
                    <div id="passHelp" style="color:red; display:none;" class="form-text">Wrong Username or Password!</div>
                  </div>
                  <div class="mb-3">
                    <div style="color:rgb(38, 58, 235); font-size:24; font-weight: bold;" class="form-text"> <span data-bs-toggle="modal" data-bs-target="#otpModal">Forget Password! </span></div>
                  </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
      </form>
          </div>
      </div>
      </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static"  id="aboutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Saikat Sahana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:saikatsahana91@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917001878233"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
            <li>Gourab Chatterjee<a href="mailto:gouravchatterjee2@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917074083480"><span class="badge rounded-pill bg-success">Phone</span></a></li>
            <li>Sanket Choudhury<a href="mailto:sanketchoudhury321@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+918617499871"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
          </ul>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static"  id="otpModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Enter Email</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <form id="signIn" action="/login_check" method="post">
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email_otp_check" onchange="fill_email();" aria-describedby="emailHelp">
          </div>


      </div>
      <div class="modal-footer">
      <button id="otp" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#otpConfModal">Send OTP</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </form>
      </div>
  </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static"  id="otpConfModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Enter OTP</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <form id="signIn" method="post">
          <div class="mb-3">
            <label for="box_otp" class="form-label">Enter Your OTP</label>
            <input type="password" name="otp" class="form-control" id="box_otp" aria-describedby="otpHelp">
            <div id="otpHelp" style="color:red; display:none;" class="form-text">Incorrect OTP!</div>
          </div>


      </div>
      <div class="modal-footer">
      <button id="otp_confirm" type="button" class="btn btn-primary" onclick="check_otp()">Confirm OTP</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </form>
      </div>
  </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static"  id="newPassModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">New Password</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        

        <form id="signIn" action="/reset_password" method="post">
          <div class="mb-3">
            <label for="new_pass" class="form-label">Enter Your New Password</label>
            <input type="password" name="new_pass" class="form-control" id="new_pass" aria-describedby="passHelp">
            <input style="display:none" type="email" id="email_final" name="email_final">
          </div>


      </div>
      <div class="modal-footer">
      <button id="otp" type="submit" class="btn btn-primary">Reset Password!</button>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </form>
      </div>
  </div>
  </div>
</div>

</div>

  <div id="carouselExampleFade" class="carousel slide carousel-fade py-2" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <img src="https://source.unsplash.com/1280x720/?books,education" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1280x720/?notes,books" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://source.unsplash.com/1280x720/?study,notes" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/home.js"></script>
  </body>
</html>
