<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="../static/css/upload.css">
    <link rel="stylesheet" href="../static/css/link.css">
    <title>Upload</title>
  </head>
  <body>
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bookify</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a id="dashboard_btn" class="nav-link" aria-current="page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Purchases</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="cart_btn">Your Cart</a>
              </li>
              <li class="nav-item">
                <a id="product_btn" class="nav-link">Your Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#aboutModal">Contact Us</a>
              </li>
            </ul>
            <ul class="navbar-nav d-flex mb-2 mb-lg-0">
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a id="profile_btn" class="dropdown-item">My Profile</a></li>
                      <li><a class="dropdown-item" href="/">SignOut</a></li>
                    </ul>
                  </li>
                
                  <li class="nav-item">
                    <p id="username" style="color:#fff" class="px-2 mb-2 nav-link"></p>
                </li>
                  <li class="nav-item">
                    <a id="profile" class=""><i class="fas fa-user-circle mb-2"></i></a>
                </li>
            </ul>
        </div>
      </nav>

      <div class="container py-4">
        <form id="uploadForm" action="/add_book" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-2 mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="username" value="{{rows[0][0]}}" readonly>
                  </div>
                  <div class="col-lg-4 mb-3">
                    <label for="email" class="form-label">Email Address</label>
                    <input name="email" type="email" class="form-control" id="email" value="{{rows[0][1]}}" aria-describedby="emailHelp" readonly>
                  </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="name_book" class="form-label">Enter Name of the Book or Material</label>
                    <input name="name_book" required type="text" class="form-control" id="name_book">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="pic_book" class="form-label">Upload a picture</label>
                    <input name="pic_book" required type="file" class="form-control" id="pic_book" accept="image/*">
                    <div style="color:#fff;" id="socialHelp" class="form-text">* upload the front cover incase of a book and for notes uplaod a page with details about the notes.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 mb-3">
                    <label for="pages_book" class="form-label">Enter No.of Pages</label>
                    <input name="pages_book" required type="number" class="form-control" id="pages_book">
                </div>
                <div class="col-lg-4 mb-3">
                    <label for="condition_book" class="form-label">How old is the book?</label>
                    <select id="condition_book" required name="condition_book" class="form-select" aria-label="Book Condition">
                        <option selected></option>
                        <option value="1">Less than 1 year</option>
                        <option value="2">Less than 2 years</option>
                        <option value="3">Less than 5 years</option>
                        <option value="4">More than 5 years</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <label for="sub_book" class="form-label">Enter Subject</label>
                    <input name="sub_book" onchange="add_sub();" required type="text" class="form-control" id="sub_book">
                </div>
                <div class="col-lg-3 mb-3">
                    <label for="stream_book" class="form-label">Enter Stream</label>
                    <input name="stream_book" onchange="add_stream();" required type="text" class="form-control" id="stream_book">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <label for="weight_book" class="form-label">Weight in kgs</label>
                    <input name="weight_book" required type="number" class="form-control" id="weight_book">
                </div>
                <div class="col-lg-3 mb-3">
                    <label for="price_book" class="form-label">Expected Price</label>
                    <input name="price_book" required type="number" class="form-control" id="price_book">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="desc_book" class="form-label">Material Description</label>
                    <textarea class="form-control" name="desc_book" id="desc_book" cols="87" rows="2"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-3">
                    <label for="tags_book" class="form-label">Tags</label>
                    <input name="tags_book" required type="text" class="form-control" id="tags_book">
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg"><i class="fas fa-upload"></i>&nbsp;Upload Material</button>
          </form>
      </div>

       <!-- Modal -->
  <div class="modal fade" data-bs-backdrop="static"  id="aboutModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Us</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li>Saikat Sahana&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:saikatsahana91@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917001878233"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
            <li>Gourab Chatterjee<a href="mailto:gouravchatterjee2@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+917074083480"><span class="badge rounded-pill bg-success">Phone</span></a></li>
            <li>Sanket Choudhury<a href="mailto:sanketchoudhury321@gmail.com"> <span class="badge rounded-pill bg-primary">Email</span></a>&nbsp;<a href="tel:+918617499871"><span class="badge rounded-pill bg-success">Phone</span></a> </li>
          </ul>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
    </div>
</div>
</div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/js/upload.js"></script>
  </body>
</html>